  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <div class="frontImg">
            <%= image_tag "forgotImg.jpg"%>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">
            Forgot Password
          </div>
          <%= form_with url: "/password/forgot_password", method: :post do |form|%>
            
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <%= form.text_field :email, placeholder: "Enter Your Email"%>
              </div>
              <div class="button input-box">
                <%= form.submit "Get new password"%>
              </div>
              <div class="text sign-up-text">Don't have an account?<%= link_to "Signup now" ,account_index_path%></div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>