  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <div class="frontImg">
            <%= image_tag "resetImg.jpg"%>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div>
          <div class="title">
            Reset Password
          </div>
          <%= form_with url: "/password/reset_password", method: :post do |form|%>
            
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <%= form.password_field :password, placeholder: "Enter New Password"%>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <%= form.password_field :password_confirmation, placeholder: "Enter Password Again" %>
              </div>
              <div class="button input-box">
                <%= form.submit "Reset password"%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>